.home-section {
  .search-section {
    margin-bottom: 1rem;
  }

  .img-slider {
    position: relative;
    border-radius: var(--borderRadius);
    padding: 3rem 2rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;

    .img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
      }
    }

    .title {
      color: var(--white);
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0.4rem;
    }
    .subtitle {
      color: var(--white);
      text-align: center;
      font-size: 1.8rem;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
    }
    button {
      padding: 0 1.5rem;
      margin: 2rem auto 0;
    }
    .slider-toggler {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      position: absolute;
      bottom: 0.7rem;

      .toggler {
        width: 13.5px;
        height: 13.5px;
        background-color: var(--grey3);
        border-radius: 50%;
        cursor: pointer;

        &.right {
          animation: swapFromRight 1s ease-in-out 1 forwards;
        }

        &.ultimateRight {
          animation: ultimateSwapRight 1s ease-in-out 1 forwards;
        }

        &.ultimateLeft {
          animation: ultimateSwapLeft 1s ease-in-out 1 forwards;
        }

        &.active {
          background-color: var(--white);

          &.left {
            animation: swapFromLeft 1s ease-in-out 1 forwards;
          }
        }
      }
    }
    .black-background {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

@keyframes swapFromLeft {
  0% {
    transform: translateX(-155%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swapFromRight {
  0% {
    transform: translateX(155%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes ultimateSwapRight {
  0% {
    transform: translateX(-476%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes ultimateSwapLeft {
  0% {
    transform: translateX(476%);
  }
  100% {
    transform: translateX(0);
  }
}
