@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --wine: #7e1416;
  --wine2: #ac0a0d;
  --grey: #89898933;
  --grey2: #f2f2f2;
  --grey3: #898989;
  --white: #ffffff;
  --black: #161515;
  --mobile-view: 360px;
  --borderRadius: 0.8rem;
  --boxShadow: 22px 26px 18px -26px rgba(0, 0, 0, 0.09);
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--white);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--wine);
    border-radius: 2.5rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--wine2);
  }
}

a {
  color: var(--wine2);
  text-decoration: none;

  &:active {
    color: var(--wine2);
  }
}
